@import '~react-toolbox/lib/commons'; // colors, globals, mixins, normalize
@import "~react-toolbox/components/app_bar/config";
@import "~react-toolbox/components/button/config";
@import "~react-toolbox/components/layout/config";
@import "./config";

.app {
  @include no-webkit-scrollbar;
  padding: ($appbar-height + 2) $offset $offset;
}

.appbar {
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  flex-grow: 1;
  color: white;

  > input,
  > span {
    color: $button-neutral-color-hover;
    &:focus {
      color: $color-white;
    }
  }
}

.menu {
  position: fixed;
  top: $appbar-height;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform $animation-duration $animation-curve-default;
  z-index: $z-index-high;
}

.panel {
  padding-left: $navigation-drawer-desktop-width;
}
