@import '~react-toolbox/lib/globals';
@import '~react-toolbox/lib/colors';
@import "~react-toolbox/lib/button/config";

$color-input: rgba(255,255,255,.55);
$color-input-focus: $color-white;
$color-input-background: rgba(255,255,255,.15);

.input {
  margin: 0 5vh !important;
  flex-basis: 80rem;
  padding: 4px;
  background: $color-input-background;

  border-radius: 2px;
  min-width: 144px;

}

.inputElement {
  color: $color-white;
  border-bottom: none;
  padding-left: 45px;

  &:focus:not([disabled]):not([readonly]) {
    color: $color-input-focus;

    ~ .icon {
      color: $color-input-focus;
    }
  }
}

.bar {
  display: none;
}

.icon {
  color: $color-input;

  top: -2px;
  left: 2px;
}
