@import '~react-toolbox/lib/globals';
@import '~react-toolbox/lib/colors';
@import "~react-toolbox/lib/button/config";

.input {
  margin: 0 4vh !important;
  flex-basis: 80rem;
  padding: 0.25rem;
  background: rgba(255,255,255,.15);

  border-radius: 2px;
  min-width: 144px;

}

.inputElement {
  color: $color-white;
  border-bottom: none;
  padding-left: 57px;
}

.bar {
  display: none;
}

.icon {
  color: $color-white;

  top: -4px;
  left: 5px;
}
